/* Modal */
.confirm-modal {
  background-color: #264653 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 150px;
  border: 2px solid #fff !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -10%);
  border-radius: 10px;
  z-index:1;
}

.modal-info h3 {
  font-size: 18px;
  font-weight: bold;
  color: #9e3c3c;
}

.modal-button {
  display: flex;
  justify-content: space-evenly;
}
