.container-pagina-inicial{
  display: flex;
  flex-direction: column;
}

.container-img-list{
  display: flex;
  flex-direction: row;
  min-width: 500px;
  justify-content:space-around;
}

.image-principal{
  width:700px ;
  height: 400px;
  border-radius: 10px;
  
}



